<h2>Friends List</h2>

{{#each foundUser.friends}}
<img src="{{this.avatar}}" alt="{{this.friendName}}">
<p> <a href="/friends/{{_id}}" >{{this.friendName}}</a> </p> 

<form action="/friends/{{id}}/delete" method="post">
    <button type="submit">Delete</button>
</form>
{{/each}}