<div class="title2">
<h2>This is your friend {{foundFriend.friendName}} profile page!</h2>
<h5> Full name: {{foundFriend.friendName}} {{foundFriend.friendSurname}} </h5>
<h5> City: {{foundFriend.city}}</h5>
<h5> Birthday: {{foundFriend.birthday}}</h5>
<img class="img" src="{{foundFriend.avatar}}" alt="avatar picture">
</div>
<div class="list">
<br>
<h3> Presents of {{foundFriend.friendName}}:</h3>
<br>
<div class="friends-list" >
{{#each foundFriend.presentId}}
<div class="friend" >
    <img class="img" src="{{this.imageUrl}}" alt="{{this.presentName}}">
    <p> {{this.presentName}}</p>
    <p> {{this.motivations}}</p>
    <p> {{this.description}}</p>
    </div>
{{/each}}
</div>
</div>
