<h2 class="second-title">Your friends</h2>
<div class="friends-list" >
{{#each foundUser.friends}}
<div class="friend" >
<img class="img-friend" src="{{this.avatar}}" alt="{{this.friendName}}">
<h3><a href="/friends/{{_id}}">{{this.friendName}}</a></h3>
<a href="/friends/{{id}}/edit"><button type="button" class="btn btn-warning">Edit</button></a> 
<form action="/friends/{{id}}/delete" method="post">
    <button type="submit" class="btn btn-danger">Remove</button>
</form>
</div>
{{/each}}
</div>