
<h2 class="second-title" >This is your friend <b>{{foundFriend.friendName}}</b> profile page!</h2>

<h5> <b>Full name: </b>{{foundFriend.friendName}} {{foundFriend.friendSurname}} </h5>
<h5> <b>City: </b>{{foundFriend.city}}</h5>
<h5> <b>Birthday:</b> {{foundFriend.birthday}}</h5>
<img class="img-friend" src="{{foundFriend.avatar}}" alt="avatar picture">
<br>
{{!-- <form action="/friends/{{_id}}/delete" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
</form> --}}
<br>

<br>
<h3> Presents of {{foundFriend.friendName}}:</h3>
<br>
<div class="friends-list" >
{{#each foundFriend.presentId}}
<div class="friend" >
    <img class="img" src="{{this.imageUrl}}" alt="{{this.presentName}}">
    <h2> {{this.presentName}}</h2>
    <h4> {{this.motivations}}</h4>
    <p> {{this.description}}</p>
    </div>
{{/each}}
</div>
</div>
