<h2>Edit the friend profile</h2>

<form action="/friends/{{_id}}/edit" method="post">
    <input type="text" name="friendName" value="{{foundFriend.friendName}}" >
    <input type="text" name="friendSurname" value="{{foundFriend.friendSurname}}" >
    <input type="date" name="birthday" value="{{foundFriend.birthday}}" >
    <input type="text" name="city" value="{{foundFriend.city}}" >
    <input type="text" name="avatar" value="{{foundFriend.avatar}}" >
    <button type="submit">Update friend</button>
</form>