<h2>All presents</h2>

{{#each presents }}
    <img style="width: 100px" src="{{imageUrl}}" alt="{{presentName}}">
    <p> {{presentName}}</p>
    <p> {{motivations}}</p>
    <p> {{description}}</p>
    <a href="/presents/{{id}}/edit"><button>Edit</button></a>
    <form action="/presents/{{id}}/delete" method="post">
        <button type="submit">Delete</button>
    </form>



<form action="/presents/{{id}}" method="POST">
  <label for="present">Send to a friend</label>
  <select id="present" name="friend">
    {{#each ../foundUser.friends}}
    <option value="{{./this._id}}">{{./this.friendName}}</option>
    {{/each}}
  </select>
  <button type="submit">Send present</button>
</form>

{{/each}}