<h2>All presents</h2>

{{#each presents}}
    <img style="width: 100px" src="{{imageUrl}}" alt="{{presentName}}">
    <p> {{presentName}}</p>
    <p> {{motivations}}</p>
    <p> {{description}}</p>
    <a href="/presents/{{id}}/edit"><button>Edit</button></a>
    <form action="/presents/{{id}}/delete" method="post">
        <button type="submit">Delete</button>
    </form>
{{/each}}


<form action="/friends/{{_id}}/">
  <label for="present">Choose a present:</label>
  <select id="present" name="present">
    {{#each presents}}
    <option value="{{presentName}}">{{presentName}}</option>
    {{/each}}
  </select>
  <button type="submit">Add to {{friendName}}</button>
</form>