
<h2 class="second-title">All presents</h2>

<div class="friends-list" >
{{#each presents }}
<div class="friend" >
    <img class="img"  src="{{imageUrl}}" alt="{{presentName}}">
    <h3>{{presentName}}</h3>
    <p>Motivation: {{motivations}}</p>
    <p> {{description}}</p>
    <div class="edit-delete" >
    <a class="edit-button" href="/presents/{{id}}/edit"><button type="button" class="btn btn-warning">Edit</button></a> 
    <form action="/presents/{{id}}/delete" method="post">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    </div>



<form class="form" action="/presents/{{id}}" method="POST">

  <label for="present">Send to</label>
  <select id="present" name="friend">
    {{#each ../foundUser.friends}}
    <option value="{{./this._id}}">{{./this.friendName}}</option>
    {{/each}}
  </select>

  
    <button type="submit" class="btn btn-primary"> <img style="width: 30px" src="/images/present-icon-white.png" alt="icon"> </button>

</form>
<br>
<br>
</div>
{{/each}}
</div>