<h2>All presents</h2>

{{#each presents }}
    <img style="width: 100px" src="{{imageUrl}}" alt="{{presentName}}">
    <h3>Present: {{presentName}}</h3>
    <h3>Motivation: {{motivations}}</h3>
    <h3>description: {{description}}</h3>
    <a href="/presents/{{id}}/edit"><button type="button" class="btn btn-warning">Edit</button></a> 
    <form action="/presents/{{id}}/delete" method="post">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>




<form action="/presents/{{id}}" method="POST">

  <label for="present">Send to a friend</label>
  <select id="present" name="friend">
    {{#each ../foundUser.friends}}
    <option value="{{./this._id}}">{{./this.friendName}}</option>
    {{/each}}
  </select>
    <button type="submit" class="btn btn-primary">Send present</button>
</form>
<br>
<br>

{{/each}}