<h2>All presents</h2>

{{#each presents}}
    <img style="width: 100px" src="{{imageUrl}}" alt="{{presentName}}">
    <p> {{presentName}}</p>
    <p> {{motivations}}</p>
    <p> {{description}}</p>
    <a href="/presents/{{id}}/edit"><button>Edit</button></a>
    <form action="/presents/{{id}}/delete" method="post">
        <button type="submit">Delete</button>
    </form>
{{/each}}