<h2>Edit the present</h2>

<form action="/presents/{{id}}/edit" method="post">
    <input type="text" name="presentName" value="{{presentName}}">
    <input type="text" name="description" value="{{description}}">
    <input type="text" name="motivations" value="{{motivations}}">
    <input type="text" name="imageUrl" value="{{imageUrl}}">
    <button type="submit">Update present</button>
</form>