<h2>Edit the present</h2>

<form action="/presents{{id}}/edit" method="post">
    <input type="text" name="presentName" placeholder="{{presentName}}">
    <input type="text" name="description" placeholder="{{description}}">
    <input type="text" name="motivations" placeholder="{{motivations}}">
    <input type="text" name="imageUrl" placeholder="{{imageUrl}}">
    <button type="submit">Update present</button>
</form>